.navBar {
    background-color: #1a2026;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 12pt;
    box-shadow: 0 4px 10px -2px black;


    li {

        a {
            display: block;
            margin-right: 10px;
            text-decoration: none;
            color: white;
            padding: 10px;
            img {
                margin-right: 5px;
            }
        }
    }
    :hover {
        background:#060a0e;
        cursor: pointer;
    }

    &__li-menu {
        float: left;
    }

    &__li-auth {
        float: right;
    }
}